.preloader {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  position: fixed;
  z-index: 9999;
  width: 100vw;
}
.preloader img {
  width: 100px;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
